@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

}
.header {
  background: #e6e6fa;
  padding: 50px 0;

}
.footer {
  background: #add8e6;
  padding: 50px 0;
  
}

.main-contents {
  display: -webkit-flex;
  display: flex;
}

.main {
  background: #fa8072;
  height: 600px;
  width: 50%;
  line-height: 600px;
  -webkit-flex: 2;
  flex: 2;
}

.side1 {
 background: #07079b;
 height: 600px;
 width: 25%;line-height: 600px;

 -webkit-flex: 1;
 flex: 1;

 
}
.side2 {
  background: #be4e4e;
  height: 600px;
  width: 25%;
  line-height: 600px;
  -webkit-flex: 1;
 flex: 1;
  
}
