<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム+</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href=".css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
   <div class="main">
    <div class="side1">
      <ul>
      <li href="">item1</li>
      <li href="">item2</li>
      <li href="">item3</li>
      <li href="">item4</li>
      <li href="">item5</li>
      <li href="">item6</li>
      <li href="">item7</li>
      <li href="">item8</li>
      <li href="">item9</li>
      <li href="">item10</li>
    </ul>
    </div>
    <main class="main-center">
    <div class="text">
     <ul style="list-style: disc inside;">
      <li>テキスト テキスト テキスト テキスト</li>
      <li>テキスト テキスト テキスト テキスト</li>
      <li>テキスト テキスト テキスト テキスト</li>
      <li>テキスト テキスト テキスト テキスト</li>
      <li>テキスト テキスト テキスト テキスト</li>
    </ul>
    </div>
    <div class="sub">
      <h2 class="title">サブタイトル</h2>
      <ul class="side__text">
        <li>product1</li> <li>product2</li> <li>product3</li> <li>product4</li>
        </ul>
      
   </div>
    <div class="sub">
       <h2 class="title">サブタイトル</h2>
     <ul class="side__text">
      <li>product1</li> <li>product2</li> <li>product3</li> <li>product4</li>
      </ul>
    </div>
    </main>
    <div class="side2"> バナー画像
    </div>
  
  </div>
    <footer class="footer">
      <p>copyright (C) 2018 テキストテキストテキストテキストテキストテキスト</p>
    
    </footer>
  </div>
</body>
</html>
